#filmTableContainer{
    /* background-image: url("../img/so-white.png"); */
    width: 700px;
    height: 400px;
    background-color: white;
}

#addFilmContainer{
    background-image: url("../img/so-white.png");
    width: 400px;
    height: 200px;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 20px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

#goBackIcon{
    position: absolute;
    top: 20px;
    right: 50px;
}

.center-h {
    margin: auto;
    width: 50%;
  }

